<header>
    <div class="logoname">
        <span class="gray-color"> < </span>
        <span class="nameOfme">Nabil El Idrissi</span>
        <span class="gray-color">/></span>
    </div>
    <ul class="menu">
        <li><a href="#">Skills</a></li>
        <li><a href="#">Work Experiences</a></li>
        <li><a href="#">Open Source</a></li>
        <li><a href="#">Achievements</a></li>
        <li><a href="#">Blogs</a></li>
        <li><a href="#">Talks</a></li>
        <li><a href="#">Contact Me</a></li>
        <li><a><label class="switch"><input type="checkbox" checked=""><span class="slider round"><span
                            class="emoji"><img alt="☀️" draggable="false"
                                src="https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/72x72/2600.png"
                                style="height: 1em; width: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;"></span></span></label></a>
        </li>
    </ul>
</header>
  