<div class="description">
    <div class="main_container">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="text-nabil"> Hi all, I'm Nabil <span class="salam-emoji"><img alt="👋" draggable="false"
                                src="https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/72x72/1f44b.png"
                                style="height: 1em; width: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;"></span>
                    </h1>
                    <p class="text-nabil-p">A passionate Full Stack Software Developer <img alt="🚀" draggable="false"
                            src="https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/72x72/1f680.png"
                            style="height: 1em; width: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;">with
                        experience in web development, backend development, and mobile development. Proficient in
                        Java/hybris/JEE/Spring, Angular. Passionate about writing clean and maintainable code.</p>
                        <div class="social-media-links" >
                            <div ><a href="https://github.com/nabilidrissi"><img class="imagesocial" src="./assets/github.png"></a></div>
                            <div ><a href="https://www.linkedin.com/in/nabil-el-idrissi-b97b91193/"><img class="imagesocial" src="./assets/linkedin.png"></a></div>
                            <div ><a href="mailto:nabil.elidrissi1998@gmail.com" ><img class="imagesocial" src="./assets/envelope.png"></a></div>
                        </div>
                </div>
                <div class="col-sm-6">
                    <div><img src="./assets/EL_IDRISSI_Nabil.png" style="width: 50%; height: 50%;float: right;"></div>
                </div>
            </div>
        </div>
    </div>

</div>